In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [78]:
datos_originales = pd.read_excel("baase de datos encuestas.xlsx",sheet_name="base datos")

In [76]:
print(datos_originales.columns)

Index(['Orden', 'Sección', 'Edad', 'Sexo', 'Muni Res', 'Depto Res',
       'Título Div', 'Título Lic.', 'Trabajó', 'Salario', 'Estado conyugal',
       'Medio de información', 'Soborno', 'copy paste'],
      dtype='object')

In [77]:
datos_originales.drop(['Orden','Estado conyugal','copy paste','Soborno'],axis=1)

,Sección,Edad,Sexo,Muni Res,Depto Res,Título Div,Título Lic.,Trabajó,Salario,Medio de información
0,2,26,1,Chinautla,Guatemala,14,1,1,2500,4
1,2,36,1,Villa Canales,Guatemala,1,1,1,10000,1
2,2,24,2,Guatemala,Guatemala,1,1,1,3000,4
3,2,23,1,Mixco,Guatemala,2,99,2,0,4
4,2,25,1,Guatemala,Guatemala,1,99,2,0,4
5,2,24,2,Guatemala,Guatemala,1,99,2,0,3
6,2,26,1,Mixco,Guatemala,1,99,2,0,4
7,2,25,1,Guatemala,Guatemala,1,99,2,0,4
8,2,25,1,Guatemala,Guatemala,1,99,2,1200,4
9,2,28,2,San Lucas,Sacatepéquez,1,1,1,6000,4
10,2,26,2,Mixco,Guatemala,13,1,1,5400,1
11,2,26,1,Mixco,Guatemala,2,99,2,0,2
12,2,28,2,Guatemala,Guatemala,1,1,1,15000,4
13,2,24,2,San Miguel Petapa,Guatemala,1,1,1,4000,3
14,2,24,1,Guatemala,Guatemala,1,99,2,1500,4
15,2,28,2,Guatemala,Guatemala,2,1,2,0,4
16,2,29,1,Patzicia,Chimaltenango,3,1,1,12000,1
17,2,30,2,Villa Nueva,Guatemala,12,8,1,9450,1
18,2,24,2,Santa Lucía Cotzumalguapa,Escuintla,1,99,1,3000,4
19,2,29,1,Guatemala,Guatemala,2,1,1,2500,4
20,2,24,1,Guatemala,Guatemala,1,1,1,7000,4
21,2,23,1,Guatemala,Guatemala,1,99,1,1000,4
22,2,26,2,Villa Nueva,Guatemala,1,1,1,10000,4
23,2,26,2,Guatemala,Guatemala,1,1,1,10000,4
24,2,28,1,Guatemala,Guatemala,1,1,2,0,4
25,2,24,1,Mixco,Guatemala,1,99,1,2800,2
26,2,26,2,Guatemala,Guatemala,1,1,2,0,4
27,2,28,1,Guatemala,Guatemala,1,1,1,5500,1
28,2,29,1,Mixco,Guatemala,1,1,1,16000,4
29,2,23,2,Villa Nueva,Guatemala,1,99,1,4000,4
...,...,...,...,...,...,...,...,...,...,...
85,1,24,1,Mixco,Guatemala,6,1,1,7000,4
86,1,23,1,Mixco,Guatemala,1,1,2,0,4
87,1,24,1,Guatemala,Guatemala,1,1,2,0,4
88,1,22,2,Chimaltenango,Chimaltenango,1,1,2,0,4
89,1,24,2,Villa Nueva,Guatemala,6,1,1,7000,4
90,1,27,1,Santa Catarina Pinula,Guatemala,1,1,2,0,4
91,1,23,2,Mixco,Guatemala,7,1,2,1200,4
92,1,29,2,Mixco,Guatemala,1,5,1,5000,5
93,1,24,2,Mixco,Guatemala,1,4,1,4200,4
94,1,23,2,Guatemala,Guatemala,2,1,2,0,4
95,1,25,1,Guatemala,Guatemala,1,1,1,2000,4
96,1,25,1,San Miguel Petapa,Guatemala,1,1,1,5000,4
97,1,25,1,Chimaltenango,Chimaltenango,7,1,1,9000,4
98,1,24,1,San lucas,Sacatepéquez,1,1,1,1500,2
99,1,26,1,Amatitlan,Guatemala,5,1,1,6300,4
100,1,28,1,Guatemala,Guatemala,2,3,1,13000,4
101,1,25,2,Guatemala,Guatemala,1,1,2,0,4
102,1,23,2,Guatemala,Guatemala,1,1,1,3000,4
103,1,24,2,Guatemala,Guatemala,1,1,2,0,4
104,1,26,1,Mixco,Guatemala,1,1,1,6000,2
105,1,26,2,Guatemala,Guatemala,1,1,1,7000,4
106,1,31,1,Guatemala,Guatemala,4,1,1,15000,3
107,1,30,2,Mixco,Guatemala,1,1,1,8500,3
108,1,29,2,Chinautla,Guatemala,3,1,1,8000,4
109,1,30,2,Guatemala,Guatemala,1,1,1,7520,4
110,1,48,1,Guatemala,Guatemala,2,2,1,13000,2
111,1,24,1,Guatemala,Guatemala,1,9,2,0,1
112,1,27,1,Guatemala,Guatemala,1,1,1,10900,4
113,1,25,1,Guatemala,Guatemala,2,1,1,4500,4
114,1,25,2,Guatemala,Guatemala,1,1,2,0,4

# Analisis por Seccion

In [74]:
seccionA = datos_originales[datos_originales['Sección']==1]

In [70]:
seccionB = datos_originales[datos_originales['Sección']==2]

In [71]:
Hombres = datos_originales[datos_originales['Sexo']==1]

In [72]:
Mujeres = datos_originales[datos_originales['Sexo']==2]

In [75]:
seccionA.mean()

Orden                     85.500000
Sección                    1.000000
Edad                      26.100000
Sexo                       1.700000
Título Div                 2.300000
Título Lic.                1.666667
Trabajó                    1.450000
Salario                 6551.983333
Estado conyugal            1.266667
Medio de información       3.666667
Soborno                    1.083333
copy paste                 1.250000
dtype: float64

In [54]:
seccionB.mean()

Orden                     28.000000
Sección                    2.000000
Edad                      26.145455
Sexo                       1.472727
Título Div                 2.345455
Título Lic.               26.072727
Trabajó                    1.418182
Salario                 3699.545455
Estado conyugal            1.145455
Medio de información       3.327273
Soborno                    1.054545
copy paste                 1.236364
dtype: float64

In [55]:
Hombres.mean()

Orden                     57.196721
Sección                    1.475410
Edad                      26.442623
Sexo                       1.000000
Título Div                 2.327869
Título Lic.               19.131148
Trabajó                    1.426230
Salario                 6514.737705
Estado conyugal            1.196721
Medio de información       3.508197
Soborno                    1.032787
copy paste                 1.229508
dtype: float64

In [56]:
Mujeres.mean()

Orden                     58.365385
Sección                    1.500000
Edad                      25.711538
Sexo                       2.000000
Título Div                 2.365385
Título Lic.                7.019231
Trabajó                    1.423077
Salario                 3830.673077
Estado conyugal            1.192308
Medio de información       3.480769
Soborno                    1.115385
copy paste                 1.269231
dtype: float64

In [57]:
seccionA.median()

Orden                     85.5
Sección                    1.0
Edad                      25.0
Sexo                       1.0
Título Div                 1.0
Título Lic.                1.0
Trabajó                    1.0
Salario                 2500.0
Estado conyugal            1.0
Medio de información       4.0
Soborno                    1.0
copy paste                 1.0
dtype: float64

In [58]:
seccionB.median()

Orden                     28.0
Sección                    2.0
Edad                      25.0
Sexo                       1.0
Título Div                 1.0
Título Lic.                1.0
Trabajó                    1.0
Salario                 2500.0
Estado conyugal            1.0
Medio de información       4.0
Soborno                    1.0
copy paste                 1.0
dtype: float64

In [59]:
Hombres.median()

Orden                     58.0
Sección                    1.0
Edad                      25.0
Sexo                       1.0
Título Div                 1.0
Título Lic.                1.0
Trabajó                    1.0
Salario                 2000.0
Estado conyugal            1.0
Medio de información       4.0
Soborno                    1.0
copy paste                 1.0
dtype: float64

In [60]:
Mujeres.median()

Orden                     55.0
Sección                    1.5
Edad                      25.0
Sexo                       2.0
Título Div                 1.0
Título Lic.                1.0
Trabajó                    1.0
Salario                 3000.0
Estado conyugal            1.0
Medio de información       4.0
Soborno                    1.0
copy paste                 1.0
dtype: float64

In [63]:
seccionA.std()

Orden                      17.464249
Sección                     0.000000
Edad                        3.900022
Sexo                        1.453226
Título Div                  2.141598
Título Lic.                 1.673995
Trabajó                     0.501692
Salario                 13798.625125
Estado conyugal             0.685607
Medio de información        1.002821
Soborno                     0.278718
copy paste                  0.473895
dtype: float64

In [64]:
seccionB.std()

Orden                     16.020820
Sección                    0.000000
Edad                       3.057584
Sexo                       0.503857
Título Div                 3.186884
Título Lic.               43.018021
Trabajó                    0.497807
Salario                 4515.094260
Estado conyugal            0.487556
Medio de información       1.306034
Soborno                    0.229184
copy paste                 0.428764
dtype: float64

In [65]:
Hombres.std()

Orden                      34.249000
Sección                     0.503539
Edad                        4.047734
Sexo                        0.000000
Título Div                  2.625016
Título Lic.                37.800562
Trabajó                     0.498632
Salario                 13732.849760
Estado conyugal             0.572121
Medio de información        1.259933
Soborno                     0.179556
copy paste                  0.424006
dtype: float64